<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="tp2.css">
  </head>

  <body>
    <main>
        <h1 class="couleurBG">Exercice 1 TP2</h1>

            <h2>Un paragraphe </h2>
              <p>Je suis un paragraphe dzadazhdaz dazudauhzdoaz dazhdkffjfe gojgrhgroljngr
              dedeijepkfefifjeojfeo kfehuojfehfeefejfpfe oehfoehfefefe fehnfeonfefepfepofojpe
              efehnfejfe feijfpoefeokf fepjfefeokfe fpejfeofekeffepj fepjifepfjeofjopeffe
              feohfeojfe feojfepjfe pjfepofepoefj jpofejfpeojfjgidfd feoihfeijf feoijfeoijfe</p> 

            <h2 class="title">Liste</h2>
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>  
            
            <div id="frameInsert">
              <input type="button" value="DIV" onclick="insertB('div')"/>
              <input type="button" value="P" onclick="insertB('p')"/>
              <input type="button" value="H2" onclick="insertB('h2')"/>
              <input type="text" id="toInsert"/>
            </div>

      </div>
    </main>
  </body>

  <script src="tp2.js"></script>

</html>

<script type="text/javascript"> </script>

